body {
  background-color: #003b3c;
}
header {
  margin-top: 150px;
}
#design {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#heading {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 102px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}
#more {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  color: #ffffff;

  opacity: 0.8;
}
#info {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 12.5px;
  line-height: 16px;
  margin-top: 168px;
  color: #ffffff;
}
#subtitle {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
#my-nav {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#tel {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #ffffff;
}
#feedback .item {
  padding: 20px;
  border: 1px solid #f8cc09;
  height: 100%;
}
.inter {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 59, 60)),
    url("../img/devon-janse-van-rensburg-DU8Z5djVJtg-unsplash\ 1.jpg");
}
hr {
  height: 2px;
  margin-top: 33px;
  background: #ffffff;
}
.absolute {
  width: 30%;
  background: #f8cc09;
  margin-top: -13px;
}
a {
  color: white;
}
aside {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 99px;
  margin-bottom: 50px;
}
aside .about {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
#about .about {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffffff;
}
#about .text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}
#about .numeric {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 0%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;

  color: #e9bb55;
}
#about .item {
  height: 100%;
}
#portfolio .about {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
#portfolio .autor {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;
}
#feedback .autor {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}
#feedback .text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;
}
#callback .title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
#callback .text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}
.item-call {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/sidekix-media-zLT3VqWEgOQ-unsplash\ 1.png);
  margin-top: 50px;
  background-repeat: round;
}
.form-control {
  margin-top: 26px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #f8cc09;
}
.btn-primary {
  color: #fff;
  background-color: #f8cc09;
  border-color: #f8cc09;
  text-transform: uppercase;
  width: 100%;
  margin-top: 26px;
  height: 50px;
  margin-bottom: 30px;
}
footer {
  margin-top: 10px;
}
#callback .row {
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .text-muted {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  text-transform: uppercase;

  color: #ffffff;
}
.foot {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
}
#menu .item {
  border-bottom: yellow;
}
.tel {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #ffffff;
}
