body {
  background-color: #003b3c;
}

header {
  margin-top: 150px;
}

.navbar-toggler-icon {
  background-image: url("../img/icon.png");
}

nav .logo {
  margin-left: -10px;
}

footer .container {
  border-top: 2px solid white;
}

a:hover {
  color: white;
}
.d-flex {
  display: contents;
}
#design {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

#heading {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 102px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

#info {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 12.5px;
  line-height: 16px;
  margin-top: 168px;
  color: #ffffff;
}

#info .more {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  /*поменял отступ */
  margin-top: 16px;
  display: block;

  color: #ffffff;

  opacity: 0.8;
}

#subtitle {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

#my-nav {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tel {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #ffffff;
}

#feedback .item {
  padding: 20px;
  border: 2px solid #e9bb55;
  height: 100%;
}

.inter {
  position: relative;
  width: 100%;
  background-image: url("../img/devon-janse-van-rensburg-DU8Z5djVJtg-unsplash\ 1.jpg");
  background-size: cover;
}

.inter:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 59, 60, 0.1) 0%,
    rgba(0, 59, 60, 0.4) 43.49%,
    rgba(0, 59, 60, 0.5) 59.33%,
    #003b3c 82.05%,
    #003b3c 97.83%
  );
}

/* Наведение на кнопки навбара */
.navbar-container {
  padding-top: 35px;
  padding-bottom: 30px;
  border-bottom: 2px solid #fff;
  display: contents;
}

.navbar-container .navbar-nav > li {
  padding: 0px 12px;
}

.navbar-container .navbar-nav > li a {
  position: relative;
}

.navbar-container .navbar-nav > li a:before {
  content: " ";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  background: #e9bb55;
  display: none;
}

.navbar-container .navbar-nav > li.active a:before,
.navbar-container .navbar-nav > li:hover a:before {
  display: block;
}

hr {
  height: 2px;
  margin-top: 33px;
  background: #ffffff;
}

.absolute {
  width: 30%;
  background: #f8cc09;
  margin-top: -13px;
}

a {
  color: white;
}

aside {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 99px;
  margin-bottom: 50px;
}

aside .about {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
}

#about .about {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffffff;
}

#about .text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto Condensed;
}

input {
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto Condensed;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto Condensed;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto Condensed;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto Condensed;
}

#about .numeric {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  /*line-height: 0%;*/
  line-height: 75%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;

  color: #e9bb55;
}

#about .item {
  height: 100%;
}

#portfolio .about {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #ffffff;
}

#portfolio .item {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  float: none;
}

#portfolio .item .name-group {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
}

#portfolio .autor {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
}

#feedback .autor {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
  padding-bottom: 18px;
}

#feedback .text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;
}
#callback {
  margin-top: 50px;
}
#callback .title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

#callback .text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}

.item-call {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/sidekix-media-zLT3VqWEgOQ-unsplash\ 1.png);
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-call:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 59, 60, 0.1) 0%,
    rgba(0, 59, 60, 0.4) 43.49%,
    rgba(0, 59, 60, 0.5) 59.33%,
    #003b3c 82.05%,
    #003b3c 97.83%
  );
}
.form-control {
  margin-top: 26px;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border-color: #f8cc09;
  padding: 18px;
  line-height: 16px;
  font-size: 14px;
}

.form-control:focus {
  margin-top: 26px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #f8cc09;
}

.btn-primary {
  background-color: #e9bb55;
  border-color: #e9bb55;
  width: 100%;
  margin-top: 26px;
  height: 50px;
  margin-bottom: 30px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  text-transform: uppercase;

  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #dcab3d;
  border-color: #dcab3d;
  box-shadow: none;
}

footer {
  margin-top: 10px;
}

#callback .row {
  margin-bottom: 50px;
}

footer .text-muted {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  text-transform: uppercase;

  color: #ffffff;
}

.foot {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
}

.tel {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #ffffff;
}
.page {
  margin-top: 69px;
}
.slider-heading {
  position: relative;
}
.dots .slick-dots {
  position: absolute;
  top: 16%;
  left: 60%;
}
.dots .slick-dots li {
  list-style-type: none;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  cursor: pointer;
}
.dots .slick-dots .slick-active {
  font-size: 48px;
  line-height: 56px;
  color: rgb(255, 255, 255);
}
.dots .slick-dots button {
  background: transparent;
  border: none;
}
/* Слайдер */
.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 97%;
  z-index: 10;
  font-size: 0;
  width: 109px;
  height: 80px;
  border: none;
  text-align: center;
  padding: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  right: 52%;
  background: url("../img/arr.svg") 0 0 / 100% no-repeat;
  background-size: cover;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  left: 52%;
  background: url("../img/arr2.svg") 0 0 / 100% no-repeat;
  background-size: cover;
}
/*айфон 6,7,8,10 */
@media (max-width: 768px) {
  .navbar-container {
    padding-top: 17px;
    padding-bottom: 18px;
    border-bottom: 2px solid #fff;
  }
  header {
    margin-top: 200px;
  }
  #heading {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 106.19%;
    /* or 51px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #ffffff;
  }

  #subtitle {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #ffffff;
  }
  #info {
    margin-top: 109px;
  }
  .mb-3 {
    margin-bottom: 30px;
  }
  .mb-sm-3 {
    margin-bottom: 20px;
  }
  aside {
    margin-top: 93px;
    margin-bottom: 29px;
  }

  aside .about {
    padding-top: 10px;
    font-size: 18px;
    line-height: 21px;
  }
  #about .numeric {
    font-size: 64px;
  }
  #about .about {
    font-size: 14px;
    line-height: 16px;
  }
  #about .text {
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
  }
  aside #project {
    margin-top: -60px;
  }

  #feedback .row {
    margin-top: -10px;
  }
  #feedback .autor {
    font-size: 14px;
    line-height: 16px;
  }
  #feedback .item {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
  }
  #callback .title {
    font-size: 36px;
    line-height: 41px;
  }
  #callback .text {
    font-size: 14px;
    line-height: 16px;
  }
  .item-call {
    margin-top: 0px;
  }
  .form-control {
    padding: 12px;
    margin-top: 22px;
  }
  footer .container {
    border-top: 2px solid white;
    width: 90%;
    padding: 0;
  }
  #callback .row {
    margin-bottom: 0;
  }
  .btn-primary {
    margin-top: 22px;
  }
  .item-call {
    background-size: contain;
  }
  .page {
    margin-top: 25px;
  }
  .list-page {
    font-size: 14px;
    line-height: 16px;
  }
  .dots .slick-dots {
    left: -25%;
  }
  .dots .slick-dots .slick-active {
    font-size: 24px;
    line-height: 28px;
  }
  .dots .slick-dots li {
    font-size: 14px;
    line-height: 16px;
  }
}
/*айфон 5 */
@media (max-width: 320px) {
}
